<div class="container">
    <div class="row row-content"  ng-controller="DishDetailController">
        <div class="col-xs-12">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                    <img class="media-object img-thumbnail"
                     src="{{dish.image}}" alt="{{dish.name}}">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{dish.name}} 
                        <span class="label label-danger label-xs">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                    </h2>
                    <p>{{dish.description}}</p>
                    <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                </div>
            </div>            
        </div>
        <div class="col-xs-9 col-xs-offset-1">
          <form class="form-inline" ng-submit="filterByField()">
            <label>Filter by field:</label>
            <input type="text" ng-model="filterField">
          </form>
          </p>
          <ul class="list-unstyled" ng-repeat="comment in dish.comments | orderBy:filterField">
            <li>
              <blockquote>
                <p>{{comment.comment}}</p>
                <footer>{{comment.author}} commented on {{comment.date | date:"MM/dd/yyyy 'at' h:mma"}}. Rating: {{comment.rating}}</footer>
              </blockquote>
            </li>
          <ul>            
        </div>
        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
					<h4>Your comment preview:</h4>
                      <blockquote>
                        <p>{{comment.comment}}</p>
                        <footer>{{comment.author}} commented on {{comment.date | date:"MM/dd/yyyy 'at' h:mma"}}. Rating: {{comment.rating}}</footer>
                      </blockquote>
                </ul>
            <form class="form-horizontal" name="commentForm"
            		ng-submit="submitComment()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.author.$error.required 
                && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Name" ng-model="comment.author" required>
                        <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your name is required.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Your rating</label> 
                    <div class="col-sm-10">
                        <label class="radio-inline" ng-repeat="option in ratingOptions"><input type="radio" ng-model="comment.rating" name="rating" ng-value="{{option.value}} {{option.checked}}">{{option.label}}</label>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="comment.comment" required></textarea>
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Comment is required.</span>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Post Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
